

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto,Sans Serif';

}
body{
    background-color: rgba(110, 39, 39, 0.986);
}

button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: #000;
    border: none;
    color: #fff;
}

button:hover{
    background-color: #fff;
    color:#000;
}
.container-pai{
    margin-top: 10%;
    margin-left: 45%;
}
.container{
    border-radius: 10px;
    border: 5px solid black; 
    width: max-content;
    padding:15px;
    flex-direction: column;
    background-image: linear-gradient(red,yellow);
}
#display{
   width: 230px;
   height: 40px;
   background-color: #fff;
   font-size: 20px;
   padding: 10px;
   font-weight: 400;
}
table{
    margin-top: 10%;
}
a{
     
     color: #000;
}
.dev{
   margin-left:45% ;
   margin-top: 5%;
}